<%= form_with(model: activity, local: true) do |form| %>
  <% if activity.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(activity.errors.count, "error") %> prohibited this activity from being saved:</h2>

      <ul>
      <% activity.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="actions">
	<%= form.label :name %>
	<%= form.select :name, ["1 - Swimming", "2 - Running", "3 - Hiking", "4 - Walking", "5 - Skating", "6 - Cycling", "7 - Mountain Biking", "8 - Snowboarding", "9 - Downhill Skiing", "10 - Eliptical", "11 - Strength Training", "12 - Circuit Training", "13 - Core Strength", "14 - Arc Trainer", "15 - Rowing", "16 - Skating", "17 - Nordic Walking", "18 - XC Skiing", "19 - Wheelchair"] %>
	|
	<%= form.label :date %>
	<%= form.date_field :date %>
	|
	<%= form.label :duration %>
	<%= form.text_field :duration %>
	|
	<%= form.label :note %>
	<%= form.text_field :note %>

	<%= form.submit %>
  </div>

<% end %>
