<!DOCTYPE html>
<html>
<head>
  <title>Moveandgroove</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

</head>

<nav class="navbar fixed-top navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/site/home">Move and Groove</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="/site/about">About</a></li>
      <li><%=link_to "Activity", :activities %></li>
    </ul>
    <p class="navbar-text"><% if user_signed_in? %>
      Logged in as <strong><%= current_user.email %></strong>.
      <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> |
      <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
      <% else %>
      <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> |
      <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
      <% end %>
    </p>
  </div>
</nav>

<body>
  <div class= container>
    <% if notice %>
    <p class="alert alert-success"><%= notice %></p>
    <% end %>
    <% if alert %>
    <p class="alert alert-danger"><%= alert %></p>
    <% end %>
    <div class="jumbotron">
      <%= yield %>
    </div>
  </div>
</body>

<footer class="page-footer font-small mdb-color pt-4">
  <div class="container text-center text-md-left">
    <div class="row text-center text-md-left mt-3 pb-3">
      <hr class="w-100 clearfix d-md-none">
      <div class="col-md-4 col-lg-4 col-xl-4 mx-auto mt-3">
        <h6 class="text-uppercase mb-4 font-weight-bold">Move and Groove</h6>
        <p>Fitness tracking site. Physical activity is important for health.
          <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> for free!</p>
          <p>Please contact us for suggestions about new activities.</p>
        </div>
        <div class="col-md-4 col-lg-4 col-xl-4 mx-auto mt-3">
          <h6 class="text-uppercase mb-4 font-weight-bold">Homepage Links</h6>
          <p><a href="/site/home">Home</a></p>
          <p><a href="/site/about">About</a></p>
          <p><%=link_to "Activity", :activities %></p>
        </div>
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
          <h6 class="text-uppercase mb-4 font-weight-bold">Contact</h6>
          <p><i class="fa fa-home mr-3"></i> New York, NY 10012, US</p>
          <p><i class="fa fa-envelope mr-3"></i> info@gmail.com</p>
          <p><i class="fa fa-phone mr-3"></i> + 01 234 567 88</p>
          <p><i class="fa fa-print mr-3"></i> + 01 234 567 89</p>
        </footer>
        </html>
